@media screen and (max-width: 992px) {
  main .page-1::before {
    height: 100vh;
    top: 0;
    border-radius: 0;
  }
  
  .sign {
    display: none;
  }

  main .page-1 h1 {
    font-size: 35px;
  }

  main .page-1 .design-one {
    right: -32%;
  }

  .page-2 {
    padding-top: 8vh;
  }

  .page-2 h3 {
    font-size: 25px;
    color: #000;
  }

  .page-2 .squared-pic div {
    height: 170px !important;
    width: 170px !important;
  }

  .page-2 .squared-pic .square-1 {
    top: -10px;
  }

  .page-2 .squared-pic .square-2 {
    left: calc(50% + 10px);
    top: calc(50% - 70px);
  }

  .page-2 .squared-pic .square-3{
    bottom: -30px;
  }

  .page-2 .squared-pic .square-4{
    left: 0;
    top: calc(50% - 70px);
  }

  .page-3{
    padding-left: 5%;
    padding-right: 5%;
  }

  .page-3 .content .cad {
    width: 270px;
  }

  .page-3 .cad .icon{
    position: absolute;
    top: 20px;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    border-radius: 50%;
  }

  .page-3 .cad .icon #icon{
    font-size: 40px;
  }

  .page-3 .cad .cad-content{
    top: 100px;
    opacity: 1;
  }

  .page-8{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 700) {
  .page-3 .content{
    grid-template-columns: 1fr 1fr !important;
  }
}